.home,.rate {
  font-family: 'Roboto';
  color:white !important;
  float: right;
  padding-left: 200px;
}
.main-logo {
  float: left;
}
.nav-bar {
  background-color: black;
  float: right;
}
.hold-logo {
  float: right;
}


