.home,.rate,.sign {
  font-family: 'Roboto';
  color:white !important;
  float: right;
}
.main-logo {
  justify-content: flex-end;
  float: right;
}
.nav-bar {
  background-color: black;
  float: right;
}
.hold-logo {
  float: right;
}


