.pt-20{
    margin-top: 5%;
    margin-bottom: 10%;
}
.user_info{
    margin-top: 25%;
}
.map-cntr{
    font-family: "dalek", "greek";
}
.user{
    font: bold;
    font-size: larger;
}
.header{
    background-color: yellow !important;
}