.home,.rate,.sign,.my-map {
  font-family: "dalek", "greek";
  color:white !important;
  float: right;
}
.main-logo {
  justify-content: flex-end;
  float: right;
}
.nav-bar {
  background-color: black;
  float: right;
}
.hold-logo {
  float: right;
}
.elab,.plab{
  color:white !important;
}
.nav {
  font-family: "dalek", "greek";
}
