/* @font-face {
    font-family: 'dalek';
    src: local('dalek'), url(./src/fonts//DALEK___.ttf) format('.ttf');
}

@font-face {
    font-family: 'greek';
    src: local('greek'), url(./src/fonts//CaesarDressing-Regular.ttf) format('.ttf');
} */
h1 {
  background-color: gold;
  border: solid darkgoldenrod;
  border-radius: 25px;
}
.container {
  display: inline-block;
  background-color: cornsilk;
  position: relative;
  overflow: hidden;
  /* position: absolute; */
  text-align: center;
  /* background-image: url(../images/foam.jpg); */
  border-radius: 25px;
  font-family: "dalek", "greek";
  margin-top: 1%;
  border: 5px solid burlywood;
  padding: 20px;
  display: flex;
  /* margin-bottom: 1%; */
  height: fit-content;
  width: fit-content;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.1), inset 0 0 0 rgba(0.1, 0.1, 0.1, 0.1);
}

.Lhalf {
  border-radius: 25px;
  background-color: gold;
  /* font-family: "dalek", "greek"; */
  width: 100%;
  padding: 20px;
  border: 5px solid darkgoldenrod;
  height: auto;
  float: right;
}

.Rhalf {
  border-radius: 25px;
  background-color: gold;
  /* font-family: "dalek", "greek"; */
  width: 100%;
  float: right;
  padding: 20px;
  border: 5px solid darkgoldenrod;
  margin-left: 2%;
  height: auto;
  text-align: center;
  /* margin-top: 50px; */
}

.results {
  border-radius: 25px;

  font-family: "dalek", "greek";
  width: 110%;
  float: right;
  padding: 20px;
  /* border: 5px solid black; */ /*this became an issue with different sizes of reviews*/
  margin-right: -5%;
  height: auto;
  margin-top: 15%;
  font-weight: bold;
}

label {
  vertical-align: top;
  line-height: 5px;
}

input {
  vertical-align: top;
  line-height: 5px;
}

.review {
  vertical-align: top;
  line-height: 5px;
  height: auto;
}

#btn {
  width: 75%;
  background-color: black;
  color: gold;
  margin-top: 25px;
}

#txt {
  height: 150px;
  width: 75%;
  vertical-align: top;
  line-height: 5px;
}

#rate {
  height: 50px;
  width: 75%;
}

.formControl {
  vertical-align: top;
  margin-bottom: 10px;
}

.leftside {
  text-align: left;
  /* color:yellow; */
  color: white;
  visibility: hidden;
}

#beerimg {
  max-width: 50%;
  max-height: 50%;
}

ul {
  padding: 0px;
}

li {
  display: inline-block;
  width: auto;
  list-style: outside none none;
  text-align: center;
  float: center;
}

.elements {
  text-align: center;
}

#slideshow {
  width: 20%;
  height: 20%;
  /* color:white; */
}

.beers {
  font-size: 35px;
}

.beerHeader {
  font-size: 60px;
}

.subResults {
  font-size: 30px;
  margin-top: 15px;
}

.aSub {
  border-radius: 25px;

  border: 5px solid darkgoldenrod;
  padding: 20px;
  margin: 10px;
}

p:hover {
  background-color: black;
  color: gold;
}

.carousel {
  height: 900px;
}

.sc.iCoGMd.xzcEF.rec.rec.pagination {
  color: white;
  background-color:white;
}

.sc-gKAaRy-jLgnwX-rec-rec-dot {
  color: white;
  background-color:white;
}

button.rec-dot{
  background-color: darkgoldenrod;
  box-shadow: 0 0 1px 3px gold;
}

button.rec-dot:hover, button.rec-dot:active, button.rec-dot:focus  {
  box-shadow: 0 0 1px 3px black;
}
