/* @font-face {
    font-family: 'dalek';
    src: local('dalek'), url(./src/fonts//DALEK___.ttf) format('.ttf');
}

@font-face {
    font-family: 'greek';
    src: local('greek'), url(./src/fonts//CaesarDressing-Regular.ttf) format('.ttf');
} */

.container {
    font-family: "dalek", "greek";
    margin-top: 1%;
    border: 5px solid black;
    padding: 20px;
    display: flex;
    margin-bottom: 1%;
    height: auto;
    width: auto;
}

.Lhalf {
    font-family: "dalek", "greek";
    width: 100%;
    padding: 20px;
    border: 5px solid black;
    height: auto;
    float: right;
}

.Rhalf {
    font-family: "dalek", "greek";
    width: 100%;
    float: right;
    padding: 20px;
    border: 5px solid black;
    margin-left:10%;
    height: auto;
    text-align:center;
}

.results {
    font-family: "dalek", "greek";
    width: 110%;
    float: right;
    padding: 20px;
    /* border: 5px solid black; */
    margin-right: -5%;
    height: auto;
    margin-top:15%;
    font-weight: bold;
}

label {
    vertical-align:top;
    line-height: 5px;
}

input {
    vertical-align:top;
    line-height: 5px;
}

.review {
    vertical-align: top;
    line-height: 5px;
    height: auto;
}

#btn {
    width: 75%;
    background-color:black;
    color:yellow;
    margin-top:25px;
}

#txt {
    height: 150px;
    width: 75%;
    vertical-align:top;
    line-height: 5px;
}

#rate {
    height: 50px;
    width: 75%;
}

.formControl {
    vertical-align: top;
}

.leftside {
    text-align: left;
    color:yellow;
}

#beerimg {
    max-width: 50%;
    max-height: 50%;
}

ul { 
    padding: 0px
 }

 li {
    display: inline-block;
    width: auto;
    list-style: outside none none;
    text-align: center;
    float: center;
 }

 .elements
 {
     text-align:center;
 }

 #slideshow {
     width: 20%;
     height: 20%;
 }

.beers {
    font-size: 35px;
}

.beerHeader {
    font-size: 60px;
}

.subResults {
    font-size: 30px;
    margin-top: 15px;
}

.aSub {
    border: 5px solid black;
    padding: 20px;
    margin: 10px;
}